body{
    background-color: gray;
}
button{
    color:blue;
}

p{
    background-color:#f2f2f2;
}

h1{
    text-align: center;
    color: white;
}
nav{
    width:100%;
    background: black;
    overflow:auto;
    
}
ul{
    padding:0;
    margin:0 0 0 150px;
    list-style: none;
}
li{
    float: left;

}

nav a{
    width: 90px;
    display: block;
    padding: 10px 5px ;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2f2f2;
    text-align: center;
    transition: 0.4s ease-in-out;
    font-weight: bold;
}
nav a:hover{
    color:pink;
}
p1{
    
    text-align: top left;
    color:black;
    font-size: 300%;
}
button{
    border: 10px;
    padding:10px;
    margin-inline: 10px;

}
input[type=text]{
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png);
    width: 1000%;
    padding: 10px;


}
.search{
    margin-left: 70vw;
}

.srch{
    padding:10px;
    width: 250px;
    border-radius: 10px;

}


.btn{
    border-radius: 10px;

}

.btn:hover{
    background: pink;
}
 .rsc{
     border: 1px solid blue;
     border-radius: 10px;
     height:auto;
     width: auto;
     

 }
 .rsc:hover{
background: pink;

 }
 .live{
     border:1px solid blue;
     border-radius:10px;
     height: auto;
     width: auto;
 }
 .live:hover{
     background: pink;
 }